#project specific settings
saved_model/*
src/glda/saved_model/*
data/input_dat/*
data/output_csv/*
src/gensim_fasttext/saved_model/*
.vscode/
src/glda_on_sensorydata/saved_model/*
src/glda_clustering_statistics/saved_model/*
data/extra_sensory_data/
src/glda_extrasensorydata/saved_model/*
src/glda_extrasensorydata/input/sensor_features_lstm_tuned.csv
src/glda_extrasensorydata/logs/glda_testing_analysis.log
src/glda_extrasensorydata/clustering_output/featues_from_clustering.txt
src/glda_extrasensorydata/clustering_output/*activity_subseq*
data/documents/Different sensors/
data/UCI HAR Dataset
data/documents/train
data/documents/test
data/sub_sequence_output/word_embeddings_from_clusters.txt
src/choldate
src/gaussianlda
bin/praveen/lstm_data
conf/IPsec-signed.mobileconfig

bin
conf
data
Different_Sensor_Position
img
readme_images
Pipfile
Pipfile.lock
README.md 
.gitignore