[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
cython = "*"
choldate = {editable = true,git = "https://github.com/modusdatascience/choldate.git"}
gaussianlda = "*"
sklearn = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
scipy = "*"
gensim = "*"
pyqt5 = "*"
statistics = "*"
umap-learn = "*"

[requires]
python_version = "3.7"
