[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
cython = "*"
choldate = {editable = true,git = "https://github.com/modusdatascience/choldate.git"}
gaussianlda = "*"
sklearn = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
