[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
cython = "*"
choldate = {editable = true,git = "https://github.com/modusdatascience/choldate.git"}
sklearn = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
scipy = "*"
gensim = "*"
pyqt5 = "*"
statistics = "*"
umap-learn = "*"
tensorflow = "==2.2.0"
keras-tuner = "*"
tqdm = "*"
gaussianlda = {editable = true,git = "https://github.com/praveengadiyaram369/gaussianlda.git",ref = "topic_dist_per_doc"}

[requires]
python_version = "3.7"
